{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

{% set message %}
Assalomu alaykum {{ name }},

Siz "{{ exam_title }}" testiga taklif qilindingiz.

Testni boshlash uchun quyidagi tugmani bosing. Havola faqat bir marta ishlatilishi mumkin.

<span style="color: grey; font-size: 14px">Agar siz bu taklifni kutmagan bo'lsangiz, ushbu xabarni e'tiborsiz qoldiring.</span>
{% endset %}
{% set button_text = "Testni boshlash" %}

{% include 'components/_title.html' with context %}

{% include 'components/_message.html' with context %}

{% include 'components/_button.html' with context %}

{% endblock content %}
